<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.PDF" version="3.2" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net452" />
  <package id="PDFClown.NET" version="2.0.0" targetFramework="net452" />
  <package id="Select.Pdf" version="17.3.0" targetFramework="net452" />
</packages>